.main-app {
    text-align: center;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.main-header {
    background-image: url(./banner.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 85px;
    border-bottom-color: #000;
    border-bottom-style: inset;
    border-bottom-width: thick;
}

.main-title {
    font-size: 1.5em;
    display: inline-block;
    float: left;
    margin-left: 40px;
    width: 300px;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;}


.player {
    width: 800px;
    display: inline-block;
}

.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    color: white;
    z-index: 1000;
}
